#header {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: baseline;
    justify-content: space-evenly;
    background-color: whitesmoke;
}

.logo {
    width: 150px;
    height: 150px;
}

#header h1 {
    font-size: 50px;
    padding-right: 10px;
    color: rgb(53, 45, 156);
}

.navigation {
    font-size: 35px;
    padding: 30px;  
    margin-right: 5px;
}

#social-media img {
    width: 30px;
    height: 30px;
    margin-top: 40px;
    margin-left: 8px;
    cursor: pointer;
}

@media(max-width: 700px) {
    #header {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        align-content: stretch;
        font-size: 15px;
    }

    #header h1 {
        font-size: 30px;
    }

    .navigation {
        font-size: 20px;
        padding: 20px;  
        margin-right: 5px;
    }

    .logo {
        width: 100px;
        height: 100px;
    }
}